.proect{
  padding-bottom: 30px;
}

.proect__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn3 {
  padding: 15px 30px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #252D35;
}

.proect__btn::after {
  display: inline-block;
  width: 35px;
  height: 24px;
  background-image: url('../IMG/mini-btn.svg');
  background-repeat: no-repeat;
  background-position: 12px 13.5px;
  background-size: 37%;
  content: '';
}

.proect__link {
  padding: 15px 50px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #F1F5F8;
  background: linear-gradient(86.93deg, #B8884B 0%, #CC9C55 100%);
}

.proect__link2 {
  padding: 20px 53px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  opacity: 0.5;
  background: #728598;
  /* opacity: 0.1; */
}

.btn3 {
  padding: 15px 30px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #252D35;
}

.proekt__button::after {
  display: inline-block;
  width: 35px;
  height: 24px;
  background-image: url('../IMG/doun.svg');
  background-repeat: no-repeat;
  background-position: 12px 13.5px;
  background-size: 43%;
  content: '';
}

.proect__row{
  margin: 30px 0 10px;
  display: grid;
  column-gap: 40px;
  row-gap: 40px;
  grid-template-rows: repeat(5, 305px);
  grid-template-columns: repeat(4, 305px);
}

.proecrt__column1{
  background-image: url('../IMG/w1.png');
  background-size: 100%;
  background-repeat: no-repeat;
  grid-column-start: 1;
  grid-column-end: 3;
}

.proecrt__column2{
  background-image: url('../IMG/w2.png');
  background-size: 100%;
  background-repeat: no-repeat;
  grid-column-start: 3;
  grid-column-end: 5;
}

.proecrt__column3{
  background-image: url('../IMG/w3.png');
  background-size: 100%;
  background-repeat: no-repeat;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.proecrt__column4{
  background-image: url('../IMG/w4.png');
  background-size: 100%;
  background-repeat: no-repeat;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.proecrt__column5{
  background-image: url('../IMG/w5.png');
  background-size: 100%;
  background-repeat: no-repeat;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.proecrt__column6{
  background-image: url('../IMG/w6.png');
  background-size: 100%;
  background-repeat: no-repeat;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start:3 ;
  grid-row-end: 4;
}

.proecrt__column7{
  background-image: url('../IMG/w7.png');
  background-size: 100%;
  background-repeat: no-repeat;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.proecrt__column8{
  background-image: url('../IMG/w8.png');
  background-size: 100%;
  background-repeat: no-repeat;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}

.proecrt__column9{
  background-image: url('../IMG/w9.png');
  background-size: 100%;
  background-repeat: no-repeat;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

.proecrt__column10{
  background-image: url('../IMG/w10.png');
  background-size: 100%;
  background-repeat: no-repeat;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
}

.btn2{
  text-align: center;
}


@media only screen and (max-width:1240px) {
  .none{
    display: none;
  }

  .btn3{
    font-size: 10px;
  }
  .proect__link{
    font-size: 10px;
  }
  .proect__link2{
    font-size: 10px;
  }
}

@media only screen and (max-width:664px) {
  .btn3{
    padding: 10px 20px;
    font-size: 10px;
  }
  .proect__link{
    font-size: 10px;
  }
  .proect__link2{
    font-size: 10px;
  }
}